section {
  margin-top: 5%;

}

.bg {
    margin-right: -223px !important;
}
.logo-airbnb {
    width: 35%;
}
.zed {
    margin-left: -50px !important;
}
.lucian {
    border: white 3.5px solid;
}
.text-strong {
    font-weight: bold;
    color: #484848;
}
.bg-header {
    background-image: url('../img/accueil.jpg');
    background-size: cover;
    height: 500px !important;
}
a {
    color: #FFF   !important;
}
.white {
    color: white;
    font-weight: bold !important;
}

.hero__content-footer {
    margin-top: 8%;

}

.annie {
    margin-top: 7%;

}
.rapace {
  margin-bottom: 6%;

}
/*end*/
